* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    color: rgb(85, 85, 85);
}

.about-screen {
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    height: 100%;
    font-size: 24px;
}

.team-header {
    margin-top: 50px;
}