.chat-server {
  display: flex;
  flex-direction: column;
  height: 70vh;
  max-height: 70vh;
  padding-bottom: 20px;
}

.message-history {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 0;
}

.message-input-area textarea {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  margin-top: 40;
  resize: none;
}


.message {
  display: flex;
  margin-bottom: 10px;
}

.message.user {
  /* justify-content: flex-end; */
}

.message.them {
  justify-content: flex-start;
}

.message-bubble {
  border-radius: 15px;
  padding: 10px 15px;
  max-width: 50%;
  word-wrap: break-word;
  position: relative;
}

.message.user .message-bubble {
  background-color: #a2cff0;
  color: white;
}

.message.them .message-bubble {
  background-color: #e0e0e0;
  color: black;
}

.message-bubble .message-time {
  display: block;
  text-align: right;
  color: #666;
  margin-top: 5px;
  font-size: 0.85rem;
}

.message-input-area {
  flex-shrink: 0;
  display: flex;
  padding: 10px 0;

}


.message-input-area input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.message-input-area button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.clear-history-button {
  padding: 10px 10px;
  border-radius: 15px;
  background-color: #ea2121;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}