.chat-server {
  display: flex;
  flex-direction: column;
  height: 90vh;
  /* max-height: 90vh; */
  padding-bottom: 20px;
  margin: 20px;
}

.message-history {
  overflow-y: auto;
  flex-grow: 1;
  margin: 30px 0;
  padding: 10px 0;
  min-height: 0;
}

.message-input-area textarea {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin-right: 10px;
    resize: none;
    background-color: transparent;
    font-size: 1em;

}


.message {
  display: flex;
  margin-bottom: 10px;
}

.message.user {
  /* justify-content: flex-end; */
}

.message.them {
  justify-content: flex-start;
}

.message-bubble {
  border-radius: 15px;
  padding: 10px 15px;
  max-width: 50%;
  word-wrap: break-word;
  position: relative;
}

.message.user .message-bubble {
  background-color: #a2cff0;
  color: white;
}

.message.them .message-bubble {
  background-color: #e0e0e0;
  color: black;
}

.message-bubble .message-time {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 0.75rem;
    color: #999999;
    font-weight: bold;
}

.message-input-area {
  flex-shrink: 0;
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
    background-color: #F7F7F7;
    border-radius: 15px;
    border: 2px solid #E7E7E7;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}


.message-input-area input {
  flex-grow: 1;
  border: 2px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.message-input-area button {
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
}

.clear-history-button {
  padding: 10px 10px;
  border-radius: 15px;
  color: #555555;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  font-weight: bold;
}