.course-server-screen {
    display: flex;
    justify-content: space-between;
  }
  
 
  .server-manage-list {
    width: 30%; 
  }

  .server-manage-list .menu-list>h2{
    font-size: 1em;
    background: #00B2EB;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
  }

  .server-manage-list .menu-list {
    background: #fafafa;
  }
  
  .course-chat-server {
    width: 95%;
    
  }
  
  .course-chat-placeholder {
    margin: auto;
    font-weight: bold;
  }