* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: rgb(85, 85, 85);
}

.home-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  height: 100%;
  font-size: 24px;

}

.course-screen {
  height: 90vh;
  max-height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #e7e7e7;
}

.course-list {
  padding-bottom: 20px;
}