* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  color: #2b2b2b;
}

.home-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  height: 100%;
  font-size: 24px;

}