/*menulist.css*/
.menu-list {
  background-color: #f4f4f4;
  padding: 1rem;
  width: 200px;
  height: 400px;
}

.menu-list button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 5px;
}