/* Style.css */
.app {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 9fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  
   overflow: hidden;
   overflow-y: auto;

   scrollbar-width: none; 
  -ms-overflow-style: none; 
  
}

.app::-webkit-scrollbar {
  display: none;
}

.header {
  grid-area: header;

}

.aside {
  grid-area: aside;

}

.main {
  grid-area: main;

}